
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --primary:#000000;
    --secondary:#ffffff;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
body{
    
    background-color: var(--secondary);
}
.nav {
    color: var(--secondary);
    border: 1px solid var(--primary);
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: none;
    border-radius: 0  0 1rem 1rem;
    background-color: var(--primary);

    
    justify-content: space-between;
    width: calc(100% - 4rem);
    padding: 0rem 2rem;
    
    
}
a{
    text-decoration: none;
    color: var(--secondary);
}
li{
    list-style: none;
    color: var(--secondary);
}
.manu ul{
    
    display: flex;
    align-items: center;
    
    
}
.manu a{
    /* background-color: aqua; */
    padding: 1rem 0rem;
    display: inline-block;
}

.active::before{
    content: " ";
    position: absolute;
    width: 100%;
    top: 0%;
    border-bottom: 5px solid #ffffff;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

}

.manu ul li{
    margin-left: 4rem;
    position: relative;
}
.manu{
    display: flex;
    
   
}

    .logo {
        display: flex;
        align-items: center;
    }

.nav-end{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-end ul{
    margin-top: 7px;
    display: flex;
    
}
.nav-end ul li{
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-end ul button{
    background-color: transparent;
    color: #ffffff;
    padding: 7px 14px 7px 14px;
    border-radius: .5rem;
    border:1px solid #ffffff;

}
.abt{
    display: flex;
    justify-content: center;
    padding: 5rem 0px 5rem 0px;
    position: relative;
}
.about-text{
    font-size: xx-large;
    font-weight: 800;
    
    margin-top: 10%;
    width: 50%;
}
.about-text p{
    font-size: medium;
    font-weight: 200;
    
    color: #292929d8;
    padding: 15px  90px 15px 0px;
}
.about-text button{
    /* new thing */
    padding: 14px;
    color: #ffffff;
    background-color: #5A3ADE;
    border: 1px solid #5A3ADE;
    border-radius: .5rem 0.5rem 0.5rem 0;
}
.about-img{
    width:50%;
}
.newspaper{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.newspaper ul{
    display: flex;
     
    
    

}
.newspaper ul li{
    margin-right: 3rem;
}

.abt::before{
    content: url(./Vector.png);
    position: absolute;
    right: 0;
    top: -0%;
    
    
}
.newspaper::before{
    content: url(./Vector.png);
    position: absolute;
    left: 0;
    top: -100%;
    
}